/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-accentDark;
  }

  /* Clamp between 20rem (min), 90% of viewport, and 48rem (max) */
  section > .container {
    max-width: clamp(20rem, 90%, 48rem);
    margin-inline: auto;
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 1rem;
    box-shadow: none;
    padding: 2rem;
  }
}
